USE [master]
GO
/****** Object:  Database [myjdbcapp]    Script Date: 4/24/2022 1:44:53 PM ******/
CREATE DATABASE [myjdbcapp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myjdbcapp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\myjdbcapp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myjdbcapp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\myjdbcapp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myjdbcapp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myjdbcapp]
GO
USE [myjdbcapp]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 4/24/2022 1:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[empid] [int] NOT NULL,
	[empno] [varchar](255) NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/24/2022 1:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[users] ([id], [username], [password]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[users] ([id], [username], [password]) VALUES (2, N'admin1', N'admin1')
GO
/****** Object:  StoredProcedure [dbo].[getEmployeeInfo]    Script Date: 4/24/2022 1:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getEmployeeInfo]
@empid integer output,
@name varchar(255) output,
@empno varchar(255) output
as
begin
	set @empid = CAST(1 as integer);
	set @empno = 'F001';
	set @name = 'HoangLong';
end
GO
USE [master]
GO
drop proc getEmployeeInfo